// Colors
$blackPrimary : #151515;
$blackSecondary : #575757;
$blackTertiary: #1C1C1C;
$brownPrimary: #A26B25;
$white: #FFFFFF;
$whiteSecondary: #FAFAFA;
$black: #000000;
$yellowPrimary: #FCA815;
$graySecondary: #F2F2F2;
$grayPrimary: #A9A9A9;

// Components
@import './product.scss';
@import './detailProduct.scss';